            <%- contentFor('body') %>
            
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#" class="breadcrumb-item-link">Cars</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  List Car
                </li>
              </ol>
            </nav>

           <% if(message.length > 0) { %>
                <div class="alert alert-success shadow-sm mt-3" role="alert"><%= message %></div>
            <% } %>

             <% if(messageDel.length > 0) { %>
                <div class="alert alert-dark shadow-sm mt-3" role="alert"><%= messageDel %></div>
            <% } %>

            <div class="row">
                 <div class="col-md-10">
                <h1 class="content-title">Add New Car</h1>
              </div>
                <div class="col-md-2 ps-3">
                  <a class="btn btn-tambahdata" href="/add">+ Add New Car</a>
                </div>
              </div>
              <div class="pilihan">
               <button class="btn btn-active">All</button>
              <button class="btn btn-non-active">Small</button>
              <button class="btn btn-non-active">Medium</button>
              <button class="btn btn-non-active">Large</button>
              </div>
              <br>
              <div class="row pe-3">
                <% data.forEach(function(data) { %>
                <div class="col-md-4">
                   <div class="card">
                      <img src="/static/assets/uploads/<%= data.foto %>" class="card-img-top" alt="...">
                      <div class="card-body">
                      <p class="card-title"><%= data.nama %>/<%= data.ukuran %></p>
                      <p class="fw-bold harga-mobil">Rp.<%= data.sewaharian %> / hari</p>
                      <p><span><i class="fa fa-clock"></i></span> Updated at <%= data.updatedAt %></p>
                      <div class="row">
                        <div class="col-md-6">
                          <form action="/delete/<%= data.id %>?_method=DELETE" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="button" class="btn btn-outline-danger w-100" data-bs-toggle="modal" data-bs-target="#exampleModal"><span><i class="fa fa-trash"></i></span> Delete</button>
                              <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <img src="/static/assets/img-hapus.png" alt="">
                                      <h5 class="fw-bold mt-3" style="font-size: 16px">Menghapus Data Mobil</h5>
                                      <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                      <button type="submit" class="btn btn-validator-yes">Ya</button>
                                      <button type="button" class="btn btn-validator-no ms-2" data-bs-dismiss="modal">Tidak</button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </form>
                            
                        </div>
                        <div class="col-md-6">
                          <a class="btn btn-edit w-100" href="/edit/<%= data.id %>"> <span><i class="fa fa-edit"></i> Edit</a>
                        </div>
                      </div>
                      
                    </div>
                </div>
                </div>
                <% }); %>

              </div>